<div class="col-md-12" id="three-w-when">
  <h3>When (<span id="value"></span>)</h3>
  <div class="row">
    <div class="col-sm-1 col-xs-2">
      <button class="btn play">
        <i class="glyphicon glyphicon-play"></i>
      </button>
      <button class="btn hide pause">
        <i class="glyphicon glyphicon-pause"></i>
      </button>
    </div>
    <div class="col-sm-11 col-xs-10" id="three-w-slider">
      <input class="slider" type="range" step="1">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1 col-xs-2"></div>
    <div class="col-sm-11 col-xs-10">
      <svg id="three-w-slider-axis"></svg>
    </div>
  </div>
</div>
<div class="col-md-8">
  <div class="row">
    <div class="col-sm-6 col-xs-12" id="three-w-who">
      <h3>Who (Top {{ top }})</h3><span class="reset" style="display: none;"><span class="filter">
    </div>
    <div class="col-sm-6 col-xs-12" id="three-w-what">
      <h3>What (Top {{ top }})</h3><span class="reset" style="display: none;"><span class="filter">
    </div>
  </div>
</div>
<div class="col-md-4">
  <h3>Where</h3>
  {{!-- <span id="three-w-count"><span> --}}
  <div id="three-w-where"></div>
</div>
