<div class="container">
  <h2>{{site.description}}</h2>
  <p>{{site.sub_description}}. Click a chart, the slider, or the map to filter the data set. Press "<i class="glyphicon glyphicon-play"></i>" to animate.</p>
</div>
