<div class="container">
  <h2>{{site.description}}: <small>{{site.sub_description}}<small></h2>
  <p>Click a chart, the slider, or the map to filter the data set. Press "<i class="glyphicon glyphicon-play"></i>" to animate.</p>
</div>
