<div class="navbar-header">
  <button type="button" class="navbar-toggle" id="xs-nav-reset">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear Filters
  </button>
  <a
    class="active-nav navbar-brand"
    id="nav-home"
    href="/">
    {{site.home.title}}
  </a>
</div>
<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav navbar-right">
    <li id="nav-reset">
      <a href="javascript:dc.filterAll(); dc.redrawAll();">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear Filters
      </a>
    </li>
  </ul>
</div>
