svg {position: relative;}

body {
  color: #888888;
  font-family: 'Source Sans Pro', sans-serif;
}

#three-w-visualization-wrapper .grid-line {
  stroke: lightgrey;
  opacity: 0.5;
}

#three-w-visualization-wrapper .dc-chart g.row text {
  fill: black;
  font-size: 0.8em;
}

#three-w-visualization-wrapper .x-axis-label {
  font-size: 0.8em;
}

#three-w-where {
  height: 400px;
  width: 100%;
}

/* Slider */
.rangeslider__fill {
  background: #fdbe85;
}

.rangeslider--horizontal {
  margin-top: 6px;
}

.rangeslider--vertical {
  min-height: 246px;
  margin-left: 10px;
}

/* Slider Axis*/

/*#three-w-slider-axis svg {width: 100%;}*/

#three-w-slider-axis .axis text {
  font: 14px sans-serif;
}

#three-w-slider-axis .axis path {
  fill: none;
  stroke: none;
}

#three-w-slider-axis .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#three-w-slider-axis {
  width: 100%;
  /*height: 100%;*/
  /*position: absolute;*/
}
