svg {position: relative;}

body {
  color: #888888;
  font-family: 'Source Sans Pro', sans-serif;
}

#three-w-visualization-wrapper .grid-line {
  stroke: lightgrey;
  opacity: 0.5;
}

#three-w-visualization-wrapper .dc-chart g.row text {
  fill: black;
  font-size: 0.8em;
}

#three-w-visualization-wrapper .x-axis-label {
  font-size: 0.8em;
}

#three-w-where {
  height: 400px;
  width: 100%;
}

/* Slider */
.rangeslider__fill {
  background: #fdbe85;
}

.rangeslider--horizontal {
  margin-top: 6px;
}

.rangeslider--vertical {
  min-height: 246px;
  margin-left: 10px;
}

/*  X-Small  */
@media (max-width:767px){
  .rangeslider, input[type='range'] {max-width: 250px;}
}

/*  Small  */
@media (min-width:767px){
  .rangeslider, input[type='range'] {max-width: 650px;}
}
