/* Colors */
.active-nav {color: #fd8d3c !important;}
.navbar-nav > li > a {color: #fd8d3c !important;}
#intro .jumbotron {background-color: #fdbe85;}
#intro p, #intro h2, #intro small {color: #f8f8f8;}
a {color: #fd8d3c;}
a:hover, a:focus {color: #a63603;}

/* Site CSS */
body {
  padding-top: 50px;
  overflow-x: hidden !important;
}

h1 {border-bottom: 2px solid #eee;}

.no-clear {clear: none !important;}
#navbar {margin-bottom: 0;}
.navbar-nav.navbar-right:last-child {margin-right: 15px;}
.numeric {text-align: right;}
.nounderline {text-decoration: none !important;}
.cushion {margin-bottom: 10px;}
.spacious {margin: 0 15px 0 15px;}
.condensed {margin: 0;}

.btn-condensed {padding: 0;}
.btn-condensed .glyphicon {margin: 3px 5px 3px 2px !important;}
.icon-big {font-size: 35px;}

.page-header.visible-xs {margin-bottom: 0;}

hr {
  margin-top: 5px;
  margin-bottom: 10px;
}

.nav-tabs .glyphicon:not(.no-margin) {margin-right:10px;}
.nav-pills > li > a {padding: 5px 10px;}

/* Sticky Footer */
html, body, body #container {height: 100%;}

#content {
  height: auto;
  min-height: 100%;
}

#wrap {
  height: auto;
  margin: 0 auto -40px;
  min-height: 100%;
  padding: 0 0 40px;
}

#site-footer {
  background-color: #F5F5F5;
  height: 40px;
}

#site-footer ul {margin: 10px 0;}

/* Other */
.progress .bar-muted {opacity: 0.2 !important;}
.progress .bar-transparent {opacity: 0 !important;}
.btn-padleft {margin-left: 50px !important;}

.collapse.width {
  height: auto;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}
